<section class="slideshow">
</section>

<section class="products" id="products">
  <h2>Our Products</h2>
  <ul class="hoverbox">
    <li>
      <a href="#"><img src="/assets/ss5.jpg" alt="description" /><img src="/assets/ss5.jpg" alt="description" class="preview1" /></a>
    </li>
    <li>
    <a href="#"><img src="/assets/ss4.png" alt="description" /><img src="/assets/ss4.png" alt="description" class="preview2" /></a>
    </li>
    <li>
    <a href="#"><img src="/assets/ss3.png" alt="description" /><img src="/assets/ss3.png" alt="description" class="preview3" /></a>
    </li>
    <li>
      <a href="#"><img src="/assets/8a_james-upper.jpg" alt="description" /><img src="/assets/8a_james-upper.jpg" alt="description" class="preview1" /></a>
    </li>
    <li>
    <a href="#"><img src="/assets/Area_AllProducts.jpg" alt="description" /><img src="/assets/Area_AllProducts.jpg" alt="description" class="preview2" /></a>
    </li>
    <li>
    <a href="#"><img src="/assets/Area_Vertical.jpg" alt="description" /><img src="/assets/Area_Vertical.jpg" alt="description" class="preview3" /></a>
    </li>
    <li>
      <a href="#"><img src="/assets/141_grand-v-expression.jpg" alt="description" /><img src="/assets/141_grand-v-expression.jpg" alt="description" class="preview1" /></a>
    </li>
    <li>
    <a href="#"><img src="/assets/bank-walkup.png" alt="description" /><img src="/assets/bank-walkup.png" alt="description" class="preview2" /></a>
    </li>
    <li>
      <a href="#"><img src="/assets/Compete Studio3.jpg" alt="description" /><img src="/assets/Compete Studio3.jpg" alt="description" class="preview3" /></a>
    </li>

    <li>
      <a href="#"><img src="/assets/recept 2.png" alt="description" /><img src="/assets/recept 2.png" alt="description" class="preview1" /></a>
    </li>
    <li>
    <a href="#"><img src="/assets/Matrix16.jpg" alt="description" /><img src="/assets/Matrix16.jpg" alt="description" class="preview2" /></a>
    </li>
    <li>
      <a href="#"><img src="/assets/Matrix17.jpg" alt="description" /><img src="/assets/Matrix17.jpg" alt="description" class="preview3" /></a>
    </li>

    <li>
      <a href="#"><img src="/assets/Neocase_Foot_Wall_PLAN.jpg" alt="description" /><img src="/assets/Neocase_Foot_Wall_PLAN.jpg" alt="description" class="preview1" /></a>
    </li>
    <li>
    <a href="#"><img src="/assets/Neocase_Laboratory_PLAN.jpg" alt="description" /><img src="/assets/Neocase_Laboratory_PLAN.jpg" alt="description" class="preview2" /></a>
    </li>
    <li>
      <a href="#"><img src="/assets/Richmond_6.jpg" alt="description" /><img src="/assets/Richmond_6.jpg" alt="description" class="preview3" /></a>
    </li>

    <li>
      <a href="#"><img src="/assets/seating_lounge_chesterfield_roomset_02_web.jpg" alt="description" /><img src="/assets/seating_lounge_chesterfield_roomset_02_web.jpg" alt="description" class="preview1" /></a>
    </li>
    <li>
    <a href="#"><img src="/assets/traditional11.jpg" alt="description" /><img src="/assets/traditional11.jpg" alt="description" class="preview2" /></a>
    </li>
    <li>
      <a href="#"><img src="/assets/showroom_Conference_detail1.jpg" alt="description" /><img src="/assets/showroom_Conference_detail1.jpg" alt="description" class="preview3" /></a>
    </li>

    <li>
      <a href="#"><img src="/assets/traditional12.jpg" alt="description" /><img src="/assets/traditional12.jpg" alt="description" class="preview1" /></a>
    </li>
    <li>
    <a href="#"><img src="/assets/nxtwall 2.png" alt="description" /><img src="/assets/nxtwall 2.png" alt="description" class="preview2" /></a>
    </li>
    <li>
      <a href="#"><img src="/assets/recept 1.png" alt="description" /><img src="/assets/recept 1.png" alt="description" class="preview3" /></a>
    </li>
  </ul>
</section>

<section class="about" id="about">
  <h2>Why Business Environment?</h2>
  <p>Business Environment makes the process of creating beautiful, functional workplace environments easier for less!</p>
 
  <p>Does your business need a single chair or offices for multiple floors? Business Environment provides a turnkey solution.</p>
 
  <p>From concept, to space planning, reconfiguration, and installation, we bring over 30 years’ experience to help create your perfect workspace.</p>
 
  <p>Want happy customers? Start with happy employees!</p> 
 
  <p>Let us help you create a workspace that works.</p>
 
  <p>For more information visit BankerAdvice and search Business Environment!"</p>
</section>

<section class="contact" id="contact">
  <h2>Contact</h2>
  <%= render 'contacts/form' %>
</section>

<section class="info">
  <div class="left">
    <h3>Kent Brooks</h3>
    <p>CELL - 205.568.2881</p>
    <p>FAX - 205.499.1335</p>
    <p>EMAIL - <a href="mailto:kent@businessenvironment.net">kent@businessenvironment.net</a></p>
  </div>
  <div class="right">
    <h3>Nicole Meredith</h3>
    <p>CELL - 205.876.9036</p>
    <p>FAX - 205.499.1335</p>
    <p>EMAIL - <a href="mailto:nicole@businessenvironment.net">nicole@businessenvironment.net</a></p>
  </div>
</section>
