<section class="slideshow">
</section>

<h2>About</h2>
<section class="about" id="about">
</section>

<h2>Portfolio</h2>
<section class="portfolio" id="portfolio">
</section>

<h2>Testimonial</h2>
<section class="testimonials" id="testimonials">
</section>

<h2>Contact</h2>
<section class="contact" id="contact">
  <%= render 'contacts/form' %>
</section>
