<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      NAME: <%=  @contact.full_name %>
    </p>
    <p>
      PHONE: <%= @contact.phone_number %>
    </p>
    <p>
      EMAIL: <%= @contact.email %>
    </p>
    <p>
      COMMENT: <%= @contact.comment %>
    </p>
  </body>
</html>
