<footer>
  <h3>Click below for our Digital Library!</h3>
  <a href="http://www.myresourcelibrary.com/BusinessEnvironment" class="block" target="_blank"><img src="/assets/books.jpg"></a>
  <a href="http://ofusa.com/?myOF=406" target="_blank"><img src="/assets/myof_full_200x167.jpg"></a>
  <a href="http://bankeradvice.com" target="_blank"><img src="/assets/bankeradvice.svg"></a>
  <p>©2016 Business Environment. All Rights Reserved.</p>
</footer>
